body > #root > div {
  min-height: 100vh;
  height: 100%;
}

.App {
  background-color: #78b9e7;
  padding: 20px;
}

.App-logo {
  height: 60px;
}

.App-Header {
  color: white;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
  margin-top: 0px;
}

.App-Explanation {
  margin: 30px;
  text-align: center;
}

.Product-Display .jumbotron {
  padding: 2rem 2rem 4rem 2rem;
}

.Product-Message {
  font-weight: bold;
}

.Product-Id {
  margin-top: 25px;
  text-align: center;
}


.Spinner-Container {
  text-align: center;
}

.Spinner-Image {
  animation: Img-spin infinite 5s linear;
  height: 50px;

  margin: auto;
  margin-top: 50px;
}

@keyframes Img-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
